POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=payments
DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/payments

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/

API_KEY=secret-key
DB_POOL_SIZE=5
MAX_WEBHOOK_RETRIES=3
